.form-input{
    display: flex;

    flex-direction: column;
}

.input-center{
    display: flex;

    align-self: center;
}
.input-center-in{
    display: flex;

    align-self: center;
}

/*when is a flex-direction:row we need to arrange in a group in the mayor group but
if is column we can arrange individuals items*/
